@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
/*import fonta sa google fonts, *=za sve*/
*{
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkorange;
}

.departures{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.departures table{
    background-color: rgb(58, 56, 56);
    text-align: left;
    min-width: 800px;
}

th{
    padding-left: 2px;
}

#empty{
    width: 45px;
}

#time{
    width: 100px;
}

#destination{
    width: 200px;
}

#flight{
    width: 160px;
}

#gate{
    width: 80px;
}

#remarks{
    width: 110px;
}

#letters-container{
    display: flex;
}

#letter{
    border: solid 2px rgb(43, 41, 41);
    background-color: black;
}

.flip{
    animation: 0.5s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.search{
    margin-bottom: 10px;
}

.search-bar{
    height: 1.5em;
    width: 98%;
    padding-left: 0.5em;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 100%;
    color: black;
    border-radius: 3em;
}